@import 'style/mixins.scss';

.games-list {
    @include page;
    &__item {
        @include card;
        @include link;
        @include link--lift-on-hover;
    }
    &__game-name {
        @include title;
    }
    &__button {
        $size: 80px;
        display: inline-block;
        user-select: none;
        position: fixed;
        bottom: 30px;
        right: 30px;
        height: $size;
        width: $size;
        border-radius: 100%;
        background-color: $color--blue;
        color: $color--black;
        text-align: center;
        line-height: $size;
        font-size: 3em;
        box-shadow: $box-shadow--heavy;
    }
    &__game-description {
        font-size: 1em;
        font-style: italic;
        margin: $padding-base 0;
    }
    &__title {
        @include title;
    }
}
