@import 'style/base.scss';

@keyframes dice-roll {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.dice-tool {
    @include card;
    $dice-height: 100px;
    &__title {
        @include title;
    }
    &__button {
        @include button;
    }
    &__dice {
        height: $dice-height;
        width: $dice-height;
        line-height: $dice-height;
        display: inline-block;
        font-size: 2em;
        text-align: center;
        border: 3px solid $color--white;
        border-radius: 10px;
        background-color: $color--red;
        color: $color--white;
        margin-left: $padding-base;
        margin-bottom: 4px;
        &--roll {
            animation: linear;
            animation-name: dice-roll;
            animation-duration: 0.6s;
        }
    }
    &__dice-container {
        display: flex;
        justify-content: space-evenly;
        cursor: pointer;
        user-select: none;
    }
}
