@import 'style/base.scss';

.editor {
    display: block;
    width: 100%;
    &__group {
        @include forms--group;
    }
    &__label {
        @include forms--label;
        margin-right: $padding-base;
        flex: 1;
    }
    &__input {
        @include forms--input;
        flex: 1;
        &--disabled {
            pointer-events: none;
            user-select: none;
        }
    }
    &__title {
        @include title;
    }
    &__button {
        @include forms--button;
    }
}
