@import 'style/base.scss';

.timer {
    @include card;

    &__title {
        @include title;
    }
    &__group {
        @include forms--group;
    }
    &__clock {
        font-size: 16vh;
        text-align: center;
        user-select: none;
        font-family: $font--code;
    }
    &__button {
        @include forms--button;
        $height: 40px;
        flex: 1;
        height: $height;
        line-height: $height;
    }
}
