@import 'style/base.scss';

.spinner {
    @include card;
    min-height: 50vh;
    &__title {
        @include title;
    }
    &__arrow {
        background-color: $color--blue;
        height: 90vw;
        width: 34px;
        border-radius: $borderRadius--large;
        font-size: 16pt;
        text-align: center;
        color: $color--white;
        transition: 0s;
        &--burny {
            background-color: rgb(216, 216, 216);
        }
    }
    &__tip {
        background-color: $color--red;
        color: $color--red;
        height: 40px;
        border-radius: $borderRadius--large $borderRadius--large 0 0;
        &--burny {
            background-color: rgb(184, 131, 72);
            color: rgb(184, 131, 72);
            height: 80px;
        }
    }
    &__body {
        display: flex;
        justify-content: space-around;
        padding: 40px 0;
        height: 100%;
    }
    &__button {
        @include button;
    }
}
