@import 'style/base.scss';

.tool-list {
    width: 100%;

    &__title {
        @include title;
        border: none;
        display: flex;
        justify-content: space-between;
    }

    &__listing {
        @include card;
        cursor: pointer;
        user-select: none;
        padding: $padding-base * 2 $padding-base * 2;
        display: flexs;
        justify-content: space-between;
        font-size: 0.9em;
        animation: expand $animation--slow;
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
    }
    &__button {
        margin-left: $padding-base * 2;
        &--delete {
            color: $color--red;
        }
        &--expand {
            color: $color--grey;
        }
    }
    &__properties {
        border-top: $borderColor--standard;
        margin: $padding-base 0;
        padding: $padding-base;
    }
    &__group {
        display: flex;
        justify-content: space-between;
    }
}
