@import "style/mixins.scss";

.game-listing {
    @include card;
    &__button {
        @include button;
        display: inline-block;
        user-select: none;
    }
    &__description {
        font-size: 1em;
        font-style: italic;
        margin: $padding-base 0;
    }
    &__title {
        @include title;
    }
}
