// external
@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Martel+Sans&display=swap|Monserrat');

// user
@import './variables.scss';
@import './mixins.scss';
@import './animations.scss';
a {
    text-decoration: none;
    color: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    font-family: $font--main;
}

i {
    display: inline-block;
    vertical-align: middle;
}

hr {
    border: 1px solid rgba($color--black, 0.1);
}
