@import './variables';

@mixin title {
    font-weight: 400;
    font-size: 1.4em;
    margin-bottom: $padding-base;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-family: $font--main;
}

@mixin card {
    background-color: $white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.19);
    padding: $padding-base * 2;
    margin: $padding-base 0;
    font-family: $font--main;
    transition: 0.4s;
    &:hover {
        transform: translate(0, -2px);
    }
}

@mixin button {
    $button-height: 30px;
    border: 2px solid $white;
    background-color: $blue;
    color: $black;
    border: 2px solid rgba(0, 0, 0, 0.05);
    font-family: $font--main;
    text-align: center;
    border-radius: $borderRadius--standard;
    padding-left: $padding-base * 2;
    padding-right: $padding-base * 2;
    cursor: pointer;
    color: $white;
    user-select: none;
    height: $button-height;
    line-height: $button-height;
    &--disabled {
        pointer-events: none;
        background-color: desaturate($blue, 90%);
    }
}
