@import './variables';

@mixin title {
    font-weight: 400;
    font-size: 1.4em;
    margin-bottom: $padding-base;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-family: $font--title;
}

@mixin page {
    padding: 6px 12px;
}

@mixin card {
    background-color: $color--white;
    box-shadow: $box-shadow--heavy;
    padding: $padding-base * 2;
    margin: $padding-base 0;
    font-family: $font--main;
    transition: 0.4s;
}

// Links

@mixin link {
    cursor: pointer;
}
@mixin link--lift-on-hover {
    &:hover {
        transform: translate(0, -2px);
    }
}

// Forms
@mixin forms--label {
    font-size: 0.9em;
    text-transform: lowercase;
}

@mixin forms--group {
    min-height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    margin: $padding-base 0;
}

@mixin forms--input {
    padding: 3px 4px;
    border-radius: $borderRadius--large;
    border: 1px solid darken($color--white, 10%);
    outline: thick;
}

@mixin forms--button {
    $button-height: 20px;
    min-width: 100px;
    font-family: $font--buttons;
    letter-spacing: 0.3px;
    font-size: 16px;
    border: 2px solid rgba($color--black, 0.6);
    border-radius: $borderRadius--large;
    padding: 6px;
    text-decoration: none;
    color: $color--white;
    border-color: $color--white;
    text-align: center;
    padding-left: $padding-base * 2;
    padding-right: $padding-base * 2;
    user-select: none;
    height: $button-height;
    line-height: $button-height;
    cursor: pointer;

    &--disabled {
        pointer-events: none;
        background-color: desaturate($color--blue, 90%);
    }
    &--floating {
        box-shadow: $box-shadow--light;
    }
    &--blue {
        background-color: $color--blue;
        color: $color--white;
        border-color: $color--white;
    }
    &--green {
        background-color: $color--green;
        color: $color--white;
        border-color: $color--white;
    }
    &--red {
        background-color: $color--red;
        color: $color--white;
        border-color: $color--white;
    }
    &--purple {
        background-color: $color--purple;
        color: $color--white;
        border-color: $color--white;
    }
    &--white {
        background-color: $color--white;
        color: $color--black;
        border-color: $color--black;
    }
}
