@import "./base.scss";
@import "./mixins.scss";
.tool-management {
    width: 100%;
    display: grid;
    grid-template-areas: "dd . btn" "cfg cfg cfg";
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: 30px unset;
    &__select {
        grid-area: dd;
        height: 30px;
        border-radius: $borderRadius--standard;
        width: 100%;
        font-size: 0.9em;
    }
    &__description {
        grid-area: cfg;
        font-size: 0.8em;
        max-width: 98%;
        min-width: 98%;
        min-height: 10ch;
        margin: $padding-base 0;
        border-radius: $borderRadius--standard;
    }
    &__button {
        @include button;
        grid-area: btn;
        height: unset;
        margin: 0 4px;
    }
}
