$borderRadius--small: 2px;
$borderRadius--large: 6px;
$padding-base: 6px;
// Colors
$color--white: #fcfcfc;
$color--grey: rgb(71, 71, 71);
$color--black: #070707;
$color--green: rgb(85, 165, 85);
$color--red: rgb(151, 50, 36);
$color--blue: rgb(0, 95, 139);
$color--purple: rgb(57, 10, 63);

//Box shadow
$box-shadow--light: 0 2px 4px rgba(0, 0, 0, 0.1);
$box-shadow--heavy: 0 4px 6px rgba(0, 0, 0, 0.19);

//Fonts
$font--main: 'Montserrat', sans-serif;
$font--code: 'Fira Mono', monospace;
$font--buttons: 'Martel Sans', sans-serif;
$font--title: 'Martel Sans', sans-serif;
