@import 'style/mixins.scss';

.game-management {
    @include card;

    &__group {
        @include forms--group;
    }
    &__input {
        @include forms--input;

        width: 60%;

        &:focus {
            border: 1px solid $color--blue;
        }
        &--select {
            width: 100%;
            font-size: 1.1em;
        }
    }
    &__label {
        @include forms--label;
    }
    &__button {
        @include forms--button;
        background-color: $color--blue;
    }
    &__message {
        text-align: center;
        font-size: 0.8em;
        font-weight: 800;
        &--error {
            color: $color--red;
        }
    }
    &__tool-list {
    }
    &__region {
        @include card;
    }
    &__bottom-bar {
        @include card;
        background-color: unset;
        box-sizing: border-box;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        &--disabled {
            opacity: 0.4;
            user-select: none;
            pointer-events: none;
        }
    }

    &__tool-listing {
        background-color: $color--purple;
        color: $color--white;
        padding: 6px 8px;
        margin: 2px 2px;
        font-size: 0.9em;
        font-weight: 800;
        font-family: $font--code;
        border-radius: $borderRadius--large;
        display: inline-block;
        animation: expand $animation--slow;
    }
    &__minus {
        $height: 1em;
        cursor: pointer;
        width: $height;
        height: $height;
        line-height: $height;
        border: 2px solid $color--red;
        color: $color--red;
        border-radius: 50%;
        text-align: center;
        display: inline-block;
        margin-left: 6px;
    }
}
