@import 'src/style/base.scss';

.game-page {
    @include page;
    &__button {
        @include forms--button;
    }
    &__error {
        @include card;
        color: $color--red;
    }
    &__action-icon {
        color: $color--red;
        font-size: 1.8em;
    }
}
