@import 'style/base.scss';

.settings {
    @include page;
    box-sizing: border-box;
    &__region {
        @include card;
        &--error {
            background-color: $color--red;
            color: $color--white;
            &::before {
                content: '!';
                margin: 0 6px;
            }
        }
        &--info {
            color: $color--black;
        }
        &--success {
            background-color: $color--green;
            color: $color--white;
        }
    }
    &__button {
        @include forms--button;
        max-height: 40px;
        line-height: 40px;
    }
    &__json-editor {
        font-family: $font--code;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        min-height: 30ch;
    }
    &__group {
        @include forms--group;
    }
    &__title {
        @include title;
    }
    &__warning {
        text-align: center;
        color: $color--red;
        flex: 1;
        font-size: 1.4em;
    }
    &__icon {
        &--loading {
            display: inline-block;
            i {
                animation: rotate 2s infinite linear;
            }
        }
    }
}
